# **Data Science Tools and Ecosystem**

**Introduction**

Hello! This is my assignment to the IBM Data Science Tools module 6 training.

# **Objectives**
- Create and edit markdown cells
- Create code
- Add comments to the code
- Create ordered and unordered lists

Some of the most popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matlotlib
4. Seaborn
5. SciKit-learn

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Anaconda                   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Nuno Ant√≥nio